.search-container {
  background-color: #000000da;
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
}
.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 1px solid lightgrey;
  margin-left: 10px;
  margin-left: 50px;
}
